
<fieldset class="px-eltarea-field">


  <div class="wysihtml5-toolbar px_hidden_s" style="display: none;">
    <a class="wt-bold" data-wysihtml5-command="bold">bold</a>
    <a class="wt-italic" data-wysihtml5-command="italic">italic</a>
    
    <!-- Some wysihtml5 commands require extra parameters -->
    <a class="wt-red" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
    <a class="wt-green" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
    <a class="wt-blue" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>
    
    <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
    <a data-wysihtml5-command="createLink">insert link</a>
    <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://" class="text">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
  </div>



  <%= button_tag(type: "button", class: "remove_fields btn btn-default btn-xs px-el-remove") do %><i class="glyphicon glyphicon-remove"></i>
  <% end %>

  <%#= link_to "remove", '#', class: "remove_fields" %>


  <%= f.text_area :textarea, :class => "px-eltarea-hidden-field" %><br />
  <%= f.hidden_field :_destroy %>


  <%= f.fields_for :pincsses do |builder| %>
  <%= render 'pincss_fields', f: builder %>
  <% end %>

  <% f.object.build_formcss %>

  <%= f.fields_for :formcss do |builder| %>
  <%= render 'formcss_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add pincsses", f, :pincsses, "add_pin_eltext_pincsses" %>

</fieldset>
