<p>
  <%= f.label :text, "text" %><br />
  <%= f.text_field :text, :rows => 3 %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove text" %>
</p>

<%= f.fields_for :pincsses do |pc| %>
<%= render "pincss_fields", :f => pc %>
<% end %>