
<fieldset class="px-eltarea-field">

  <%= button_tag(type: "button", class: "remove_fields btn btn-default btn-xs px-el-remove") do %><i class="glyphicon glyphicon-remove"></i>
  <% end %>
  <%#= link_to "remove", '#', class: "remove_fields" %>
  <div class="px-editable-tarea" style="width:auto; height:auto" data-placeholder='Enter some text' contenteditable='true'></div>
  <%= f.hidden_field :textarea, :class => "" %><br />
  <%= f.hidden_field :_destroy %>




  <%= f.fields_for :pincsses do |builder| %>
  <%= render 'pincss_fields', f: builder %>
  <% end %>

  <% f.object.build_formcss %>

  <%= f.fields_for :formcss do |builder| %>
  <%= render 'formcss_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add pincsses", f, :pincsses, "add_pin_eltext_pincsses" %>

</fieldset>

<script type="text/javascript">
tinymce.init({

  selector: ".px-editable-tarea",
  inline: true,
  toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify |  bullist numlist | outdent indent ",
  toolbar2: "link image",
  menubar: false,
  statusbar : false,
  plugins: [
  "link image"
  ],


});
</script>
