<fieldset class="px-formcss-field hidden">
	<legend>Form Settings</legend>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='form-group'>
				<%= f.label :left,:for=>"pin_title"%>
				<%= f.text_field :left,:class=>"form-control px-el-p-left"  %>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='form-group'>
				<%= f.label :top,:for=>"pin_title"%>
				<%= f.text_field :top,:class=>"form-control px-el-p-top"  %>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='form-group'>
				<%= f.label :width,:for=>"pin_title"%>
				<%= f.text_field :width,:class=>"form-control px-el-width"  %>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class='form-group'>
				<%= f.label :height,:for=>"pin_title"%>
				<%= f.text_field :height,:class=>"form-control px-el-height"  %>
			</div>
		</div>
	</div>
</fieldset>