<%= form_for(@pin) do |f| %>

<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</p>
 <%= f.fields_for :eltexts do |builder| %>
    <%= render "eltext_fields", :f => builder %>
  <% end %>

<p><%= f.submit "Submit" %></p>
<% end %>

