<div id="pin_creator_area">
  <%= form_for @pin do |f| %>
  <% if @pin.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
    <ul>
      <% @pin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="px-pin-field hidden">               
    <fieldset>
      <legend>Pin Settings</legend>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='form-group'>
           <%= f.label :title,:for=>"pin_title"%>
           <%= f.text_field :title,:class=>"form-control"  %>
         </div>
       </div>
     </div>
     <div class='row'>
      <div class='col-sm-12'>
        <div class='form-group'>
          <label for="user_locale">Form</label>
          <select class="form-control" id="user_locale" name="user[locale]"><option value="de" selected="selected">A1</option>
            <option value="en">A2</option></select>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='form-group'>
            <%= f.label :width %>
            <div class="input-group">
              <%= f.text_field :width,:class=>"form-control"%>
              <span class="input-group-addon">px</span>
            </div>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='form-group'>
            <%= f.label :height %>
            <div class="input-group">
              <%= f.text_field :height,:class=>"form-control"%>
              <span class="input-group-addon">px</span>
            </div>
          </div>
        </div>

      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='form-group'>
            <%= f.label :status %>
            <select class="form-control" id="user_locale" name="user[locale]"><option value="de" selected="selected">Publich</option>
              <option value="en">Privat</option></select>
            </div>
          </div>
        </div>
      </fieldset>


      <%= f.fields_for :pincsses do |builder| %>
      <%= render 'pincss_fields', f: builder %>
      <% end %>
    </div>
    <%= link_to_add_fields "Pincsses", f, :pincsses, "add_pin_pincsses" %>

    <%= f.fields_for :eltexts do |builder| %>
    <%= render 'eltext_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add text", f, :eltexts, "add_pin_eltexts" %>

    <div class="actions">
      <%= f.submit :class=>"px-real-submit hidden"  %>
    </div>
    <% end %>
  </div>