<%= form_for @pin do |f| %>
  <% if @pin.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <%= f.fields_for :eltexts do |builder| %>
    <%= render 'eltext_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add text", f, :eltexts %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
