
<fieldset class="px-image-field">
  <%#= f.hidden_field :gallery_id %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>

    <% f.object.build_formcss %>
 
  <%= f.fields_for :formcss do |builder| %>
  <%= render 'formcss_fields', f: builder %>
  <% end %>
</fieldset>
