<%= @pin.title %>

<% for eltext in @pin.eltexts %>
<% for pincss in @pin.pincsses %>
<li><%= h pincss.property %></li>
<% end %>
<li><%= h eltext.text %></li>
<% for etpc in eltext.pincsses %>
<li><%= h etpc.property %></li>
<% end %>
<% end %>





<div id="paintings">
  <% @pin.pinimages.each do |painting| %>
    <div class="painting">
      <%= image_tag painting.image_url(:thumb).to_s %>
      <div class="name"><%= painting.title %></div>
      <div class="actions">
        <%#= link_to "edit", edit_painting_path(painting) %> |
        <%#= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>



<%= link_to "edit", edit_pin_path%>